# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml


# Ignore node_modules and build directories inside FrontEnd
FrontEnd/node_modules/
FrontEnd/build/

# Ignore .DS_Store files and local environment files inside FrontEnd
FrontEnd/.DS_Store
FrontEnd/.env.local
FrontEnd/.env.development.local
FrontEnd/.env.test.local
FrontEnd/.env.production.local

# Ignore npm and yarn logs inside FrontEnd
FrontEnd/npm-debug.log*
FrontEnd/yarn-debug.log*
FrontEnd/yarn-error.log*

yTubeBackend/HELP.md
yTubeBackend/target/
!yTubeBackend/.mvn/wrapper/maven-wrapper.jar
!yTubeBackend/**/src/main/**/target/
!yTubeBackend/**/src/test/**/target/

### STS ###
yTubeBackend/.apt_generated
yTubeBackend/.classpath
yTubeBackend/.factorypath
yTubeBackend/.project
yTubeBackend/.settings
yTubeBackend/.springBeans
yTubeBackend/.sts4-cache

### IntelliJ IDEA ###
yTubeBackend/.idea
yTubeBackend/*.iws
yTubeBackend/*.iml
yTubeBackend/*.ipr

### NetBeans ###
yTubeBackend/nbproject/private/
yTubeBackend/nbbuild/
yTubeBackend/dist/
yTubeBackend/nbdist/
yTubeBackend/.nb-gradle/
yTubeBackend/build/
!yTubeBackend/**/src/main/**/build/
!yTubeBackend/**/src/test/**/build/

### VS Code ###
yTubeBackend/.vscode/
